html,
body {
  height: 100%;
  margin: 0;
}
#map {
  width: 80%;
  height: 100%;
}
#settings {
  width: 20%;
  height: 100%;
  background-color: #e0e0e0;
  float: left;
  border-right: 1px solid black;
}
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.main-header {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}
.buttons {
  width: 100%;
}
#rangeDays {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  background: #a6a6a6;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1a1a1a;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1a1a1a;
  cursor: pointer;
}
.slidecontainer {
  margin-top: 5%;
  margin-bottom: 5%;
}
.fill {
  min-height: 100%;
  height: 100%;
}

.align-to-bottom {
  position: fixed;
  bottom: 0;
  width: 26%;
}

.settings-header {
  margin-bottom: 0;
  font-size: 1.3rem;
  text-align: center;
}

.separador {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.descriptor {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}
.description-image {
  width: 75px;
  height: 75px;
}