#map { width: 100%; height: 300px; }
body { font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; }
.ghbtns { position: relative; top: 4px; margin-left: 5px; }
a { color: #0077ff; }
html, body {
    height: 100%;
    margin: 0;
}